<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcm.bluetoothsms">

    <!--Permission for BLUETOOTH_ADMIN-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--Permission for LOCATION while access nearby bluetooth-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- allow connections to Internet Services - both for data and MAF Logon. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Permissions required for MAF Logon (plus INTERNET above)-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Bluetooths"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".activity.SMSLocation"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".activity.IOT"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".activity.SwitchControl"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"></activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".mqtt.MqttMessageService"
            android:enabled="true"
            android:exported="false"></service>

        <receiver
            android:name=".SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4cc3654edcf0333e187a0ee5fc32c4a822e3eb6e" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false" />

    </application>

</manifest>